<ion-content>                     <ion-card>
                                        <img src="/assets/495078-PHE69C-919.jpg">
                                        <ion-card *ngIf="!connected">
                                          <!-- À afficher si l'utilisateur n'est pas connecté -->
                                          <ion-item>
                                               <ion-icon ios="ios-mail" md="md-mail" slot="start"></ion-icon>
                                                <ion-label><b>Email:</b></ion-label>
                                                <ion-input type="email" [(ngModel)]="dataUser.email"></ion-input>
                                          </ion-item>
                                          <ion-item>
                                                <ion-icon ios="ios-unlock" md="md-unlock" slot="start"></ion-icon>
                                                <ion-label><b>Mot de passe:</b></ion-label>
                                                <ion-input type="password" [(ngModel)]="dataUser.password"></ion-input>
                                          </ion-item>
                                  </ion-card>
                                  </ion-card>
                                 
                                  
                                  <ion-card>
                                    <ion-card>
                                                <ion-button expand="block" color="primary" (click)="login()">Connexion</ion-button>
                                                <ion-button expand="block" color="tertiary" (click)="signUp()">Inscription</ion-button>
                                  </ion-card>
                                  </ion-card>
                                    
                                  
                                  
                                  
                                  <ion-card *ngIf="connected">
                                    <!-- Si l'utilisateur est connecté -->
                                    <ion-button expand="block" color="danger" (click)="logout()">Déconnexion</ion-button>
                                    
                                  </ion-card>
                                  <ion-card>
                                    <ion-button shape="round" expand="block" (click)="facebookLogin()">
                                      <ion-icon slot="start" name="logo-facebook"></ion-icon>
                                      Connexion avec Facebook
                                    </ion-button>
                                  </ion-card>

</ion-content>
