 

<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-icon size="large" name="menu" color="warning" routerLink="/menu" (click)="page_menu()" slot="start"></ion-icon>

      </ion-buttons>
    <ion-title ><h1> <strong> Moogo</strong></h1></ion-title>
    <ion-button (click)="logout()" slot="end" fill="clear">
      <ion-icon name="power" color="warning"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="accepte_Add_Agence()" size="small"  color="warning">
    <img src="../../assets/home.png"/>
  </ion-fab-button>

  <ion-fab-button size="small" color="warning">
    <img src="../../assets/search (3).png"/>
  </ion-fab-button>
  
  <ion-icon name="bus-sharp"    ></ion-icon>
</ion-fab> 
<ion-content>
  
  <div *ngIf="first_stape">
            <div *ngIf="!connected_"  >
                            <div *ngIf="method != meth">
                            <div lines="none" *ngFor="let user of users" >
                              <ion-item lines="none" text-wrap  *ngIf="user.ide == email" color="warning" class="form"  >
                                <div class="flex">
                                  <div class="box-border">
                                    <div class="border-white">
                                      <div class="img-box">
                                        <img [src]="user.photo"/>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                
                                      <ion-label text-wrap>
                                             <p> <b> {{ email }}</b></p>
                                               <p> <b>{{  user.name }}</b></p>
                                                <p>{{ method }}</p>
                                                
                                      </ion-label>
                                    </ion-item>
                          </div>
                          </div>
                        <div *ngIf="method==meth"  >
                          
                            <div lines="none" *ngFor="let user of users" >
                              <ion-item lines="none" text-wrap  *ngIf="user.adm == email" color="warning" class="form" >
                                     <div class="flex">
                                  <div class="box-border">
                                    <div class="border-white">
                                      <div class="img-box">
                                        <img [src]="user.photo2"/>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                      <ion-label text-wrap>
                                             
                                               
                                               <p> <b>{{  user.nom }}</b></p>
                                               <p> <b>{{  user.adm }}</b></p>
                                               
                                      </ion-label>
                              </ion-item>
                          
                          </div>
                         </div>
                                     
                               <ion-item><strong>vous avesz publier les trajets</strong></ion-item>

                                  <div *ngFor="let traj of trajets">
                                    <div  *ngIf="traj.adm === email">
                                            <ion-item color="dark" >
                                              
                                              <ion-label>
                                                <ion-item >
                                                  20/02/20 18h00
                                                  <ion-button slot="end" fill="clear" color="dark"><strong>{{traj.prix}}</strong>fcfa</ion-button>
                                                </ion-item>
                                                <p><ion-icon color="warning" size="large" slot="start" ios="ios-trash" md="md-trash" (click)="deleteReserve(traj)"></ion-icon> 
                                                  <b size="large">{{traj.debut}}</b><ion-icon size="large"color="warning" name="arrow-round-forward"></ion-icon>
                                                  <b size="large">{{traj.fin}}</b> </p>
                                              </ion-label>
                                          
                                            </ion-item>
                                             
                                      </div>
                                
                                            
                                    </div>                
                            

                              <!--pôur enregistrer un agence po-->
                              <div *ngIf="add_agence">
                                <ion-item lines="none">
                                  <img src="../../assets/2796253.jpg"/>
                                </ion-item>
                                <ion-item>   
                                    <ion-label position="floating"><p>Nom</ion-label>
                                    <ion-input type="text" [(ngModel)]="agence.nom"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="floating"><p>Slogan</p></ion-label>
                                    <ion-input type="text" [(ngModel)]="agence.slogan"></ion-input>
                                </ion-item>
                                <ion-item  lines="none">
                                    <ion-button  (click)="add_Agence()" slot="start">Ok</ion-button>
                                </ion-item>

                                <ion-button (click)="addPhoto()" color="tertiary" expand="block">
                                  <ion-icon name="image" slot="start"></ion-icon>
                                  Ouvrir la bibliothèque
                                </ion-button>
                                <div class="flex">
                                  <div class="img-box">
                                    <img [src]="image">
                                  </div>
                                </div>

                            
                                <ion-button (click)="addPhoto('camera')" color="secondary" expand="block">
                                  <ion-icon name="camera" slot="start"></ion-icon>
                                  Prendre une photo
                                </ion-button>
                                <ion-button (click)="uploadFirebase()" color="warning"  expand="block">
                                  <ion-icon name="cloud-upload" slot="start"></ion-icon>
                                  Envoyer la photo
                                </ion-button>


                            
                              </div>
                             
                              
                              <!--rechercher un trajet-->


                              <!--publication des trajet 
                              <ion-item color="warning">
                                <ion-icon name="pin"></ion-icon>
                                <ion-input type="text"></ion-input>
                                <ion-icon name="pin"></ion-icon>
                                <ion-input type="text"></ion-input>
                                <ion-button size="small"><ion-icon name="search"></ion-icon></ion-button>
                               </ion-item>-->
                              <div>
                              
                              <div *ngFor="let traj of trajets">
                                <div *ngFor="let tra of agences">
                                  <div  *ngIf="traj.adm === tra.adm">
                                                  
                                              
                                                <ion-item   (click)="affiche_trajet(traj,tra)" >
                                                  
                                                  <ion-avatar slot="start" >
                                                    <img [src]="tra.photoo"/>
                                                  </ion-avatar>
                                                  <ion-label text-wrap>
                                                    <div class="flex_box" >
                                                      <p><strong>{{traj.debut}}</strong> <ion-icon name="arrow-round-down" size="large"></ion-icon>
                                                        <strong>{{traj.fin}}</strong></p>
                                                      <ion-button slot="end" fill="clear" color="dark"><strong><h2>{{traj.prix}}</h2></strong>fcfa</ion-button>
                                                      <h3 text-wrap>{{tra.nom}}</h3>
                                                  
                                                    
                                                    </div>
                                                    <ion-note slot="end"><b>{{traj.nbre_place}}</b>places</ion-note>
                                                  </ion-label>
                                                </ion-item>

                                              
                                         
                                          
                                              </div>
                                  </div>
                                </div>
                              
                               
                        </div>









                              <!--publication des trajet-->
                </div> 

          
                 

   </div> 
   <div *ngIf="!first_stape">
      
                <div *ngIf="connected_" >
                  
                    <ion-toolbar>
                      <ion-fab-button size="small" color="warning" slot="start"  (click)="incription(agence,trajet)">
                        <ion-icon name="arrow-back"></ion-icon>
                     </ion-fab-button>
                      <ion-title>{{agence.nom}}<br><div class="status">{{agence.slogan}}</div></ion-title>
                      <ion-avatar slot="end">
                        <img [src]="agence.photoo">
                      </ion-avatar>
                    </ion-toolbar>
                  
                  <ion-item>
                    <ion-icon name="snow" color="warning"  slot="start" ></ion-icon>
                    <ion-label ><b>prix du trajet</b> {{trajet.prix}} franc cfa</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-icon name="subway" slot="start"  color="warning" ></ion-icon>
                    <ion-label><b>places</b> {{trajet.nbre_place}}</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-icon name="stopwatch" color="warning" slot="start"></ion-icon>
                    <ion-label text-wrap><b>Date et heure</b> {{trajet.dte}}</ion-label>
                  </ion-item>
                 
                  <form [formGroup]="directionForm" (ngSubmit)="calculateAndDisplayRoute(directionForm.value)">
                              <ion-item>
                                <ion-icon name="map" color="warning" slot="start"></ion-icon>
                                <ion-label ><b>Source</b></ion-label>
                                <ion-input formControlName="source" value={{trajet.debut}}><i></i></ion-input>
                              </ion-item>
                              <ion-item>
                                <ion-icon name="pin" color="warning" slot="start"></ion-icon>
                                <ion-label ><b>Destination</b></ion-label>
                                <ion-input formControlName="destination" value={{trajet.fin}}><i></i></ion-input>
                              </ion-item>
                              <ion-item>
                               
                              </ion-item>
                              <ion-item>
                                    <ion-button expand="full"  type="submit"   fill="outline" >Voir le trajet</ion-button>
                              </ion-item>
                               
                  </form>
                
            </div>
                 

   </div>  
   <div #mapElement class="map"  ></div>                        
                
</ion-content>
