.map{
    width: 100%;
    height: 50%;
}
ion-avatar {
  height: 45px;
  width: 45px;
}
h3 {
 font-weight: 500;
 font-family: 'Times New Roman', Times, serif;
 font-size: 1.3em;
 color: black;
 //color: blue($color: #000000);
}
.flex_box {
  display: flex;
  justify-content: space-between;
}
ion-note {
  font-size: 13px;
}
.text-icon {
  font-size: 22px;
  margin-bottom: -6px;
}
p {
  color: grey;
}
.status {
    color: grey;
    font-weight: 400;
    font-size: 13px;
}
ion-toolbar ion-avatar {
    padding: 3px;
}


/*  font-family: Abel  */
@font-face {
    font-family: Abel;
    src: url('../fonts/Abel/Abel-Regular.ttf');
    
  }
  
  /*  font-family: Anton  */
  @font-face {
    font-family: Anton;
    src: url('../fonts/Anton/Anton-Regular.ttf');
  }
  
  /*  font-family: Josefin  */
  @font-face {
    font-family: Josefin;
    src: url('../fonts/Josefin_Sans/JosefinSans-Regular.ttf');
  }
  
  /*  font-family: Lexend  */
  @font-face {
    font-family: Lexend;
    src: url('../fonts/Lexend_Deca/LexendDeca-Regular.ttf');
  }
.form
{
  //border-radius: 0em 0em 3em 3em;
  background-color:var(--ion-color-warning);
  height: 5em;
}  
  /*  font-family: Livvic  */
  @font-face {
    font-family: Livvic;
    src: url('../fonts/Livvic/Livvic-Regular.ttf');
    
  }
  :root{
  
    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;
    --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
  --light-gray: rgba(255, 255, 255, 0.877);
  
    /* gradient color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  
    /*      theme font-family   */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin : 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive;
  }
  #io{
    background: #d7d8da82;
  }
  
  p,ion-label{
    font-family: Lexend,cursive;
    color:  black;
    font-size: 1rem;
    font-family: Livvic;
  }
 
  
  i{
    font-family: Lexend,cursive;
    color:  #104f55;
    font-size: 1rem;
    font-family: Josefin;
  }
  #agence
  {
    height: 50%;
  }
  h4{
    color: #464242;
    font-size: 1.3em;
    font-family: Lexend,unset;
    font-family: monospace;
  }
  
  #title{
    font-size: 1.6rem;
    //padding: 0rem 0;
   // display: block;
   // font-family:Josefin;
    //font-size: 1.6rem;
    color:  #3f4954;
    //font-family: Lexend,unset;
    //font-size:1.8rem;
    color: black;
   // margin-top: 3%;
   //background: #d7d8da82;
   // margin-left: 15%;
  }
  
  h2{
    font-family: Lexend;
  }
  #img
  {
   // background: url('../../assets/Background-image.png');
      height: 60%;
  }
  #topchange{
  padding-left: 1%;
  background:rgba(0,0,0,0);
  padding-left: 1%;
  /* background: rgba(0, 0, 0, 0); */
  margin-top: 42%;
  }
  a{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family:Abel;
    font-size: 1.1rem;
    display: list-item;
      color: black;
  }
  
  
 
  .input-element{
    width: 64%;
    height: 3.2rem;
    padding: 0.3rem 0.5rem;
    font-family: Lexend;
    font-size: 1rem;
    display: list-item;
    margin-left: 16%;
  }
  
.img {
   // background: url("../../assets/2774475.jpg");
  
}