.border-radius {
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    width: 40%;
    margin-left:20%;
  }
  
.header {
  font-size: 5.5vmin;
  padding: 0.1em 0em;
  color:black;
}
p{
  font-family: cursive;
  color: rgb(231, 162, 14);
}
